[submodule "box-contracts/lib/forge-std"]
	path = box-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "box-contracts/lib/solmate"]
	path = box-contracts/lib/solmate
	url = https://github.com/transmissions11/solmate
