/target
.env
cache/
.DS_store
__pycache__

*.csv

*.json
!analysis/test.json
!analysis/src/tests/output/0.json
!analysis/src/tests/output/1.json
!analysis/src/tests/output/errors.json

Cargo.lock
Cargo.lock~serde

journal/book/*

*.svg

.vscode/

!ui/src/mvp/abi/**/*.json